openapi: 3.0.3
info:
  title: Cloud Computing Project API
  description: |
    API untuk:
    - Presensi QR Dinamis
    - Telemetry Accelerometer
    - GPS Tracking
  version: 1.0.0

servers:
  - url: https://script.google.com/macros/s/AKfycbyHS84TjZWi1S1d-qK6SHawbYFlQENIrKh7mG5TbZbJs-hgebyqvrYXhvjn6E7QPqSY7A/exec
    description: Google Apps Script Web App

paths:
  /presence/qr/generate:
    post:
      summary: Generate QR Token
      tags: [Presensi]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - course_id
                - session_id
                - ts
              properties:
                course_id:
                  type: string
                  example: cloud-101
                session_id:
                  type: string
                  example: sesi-02
                ts:
                  type: string
                  format: date-time
      responses:
        "200":
          description: QR Token generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      qr_token:
                        type: string
                        example: TKN-8F2A19
                      expires_at:
                        type: string
                        format: date-time

  /presence/checkin:
    post:
      summary: Check-in dengan QR Token
      tags: [Presensi]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - device_id
                - course_id
                - session_id
                - qr_token
                - ts
              properties:
                user_id:
                  type: string
                  example: 2023001
                device_id:
                  type: string
                  example: dev-001
                course_id:
                  type: string
                  example: cloud-101
                session_id:
                  type: string
                  example: sesi-02
                qr_token:
                  type: string
                  example: TKN-8F2A19
                ts:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Check-in result

  /presence/status:
    get:
      summary: Cek Status Presensi
      tags: [Presensi]
      parameters:
        - in: query
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: course_id
          required: true
          schema:
            type: string
        - in: query
          name: session_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Status presensi

  /telemetry/accel:
    post:
      summary: Kirim Data Accelerometer (Batch)
      tags: [Telemetry]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: string
                  example: dev-001
                ts:
                  type: string
                  format: date-time
                samples:
                  type: array
                  items:
                    type: object
                    properties:
                      t:
                        type: string
                        format: date-time
                      x:
                        type: number
                      y:
                        type: number
                      z:
                        type: number
      responses:
        "200":
          description: Accelerometer data stored

  /telemetry/accel/latest:
    get:
      summary: Ambil Data Accelerometer Terbaru
      tags: [Telemetry]
      parameters:
        - in: query
          name: device_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Latest accelerometer data

  /telemetry/gps:
    post:
      summary: Log GPS Point
      tags: [GPS]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: string
                ts:
                  type: string
                  format: date-time
                lat:
                  type: number
                  example: -7.2575
                lng:
                  type: number
                  example: 112.7521
                accuracy_m:
                  type: number
                  example: 12.5
      responses:
        "200":
          description: GPS point stored

  /telemetry/gps/latest:
    get:
      summary: Ambil GPS Terbaru (Marker)
      tags: [GPS]
      parameters:
        - in: query
          name: device_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Latest GPS marker

  /telemetry/gps/history:
    get:
      summary: Ambil GPS History (Polyline)
      tags: [GPS]
      parameters:
        - in: query
          name: device_id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            example: 200
      responses:
        "200":
          description: GPS history list
